= render 'chat_main-name'

.chat-main
  .chat-main__group
    %p.group__name
      = @group.name
    %p.group__member
      Members:
      = @group.users.pluck :name
    = link_to edit_group_path(@group) do
      %p.group__btn
        Edit
  .chat-main__contents
    = render partial: 'chat'

  .chat-main__input
    .chat-main__input__send
      = form_for [@group, @message], html: { class: "form js-form" } do |f|
        %p
          = f.text_field :body, class: "submit__content js-form__text-field", placeholder: 'メッセージを入力してください'
          = f.label :image do
            %i.fa.fa-file-image-o.fa-lg{"aria-hidden": "true"}
            = f.file_field :image 
        %p
          = f.submit "Send", class: "submit__btn", name: "Commit"
